<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home Page</title>
</head>

<body>

    <nav>
        <a href="/">Hello</a>
        <ul>
            <li><a href="/api/login">login</a></li>
            <li><a href="/api/register" class="btn">signup</a></li>
        </ul>
    </nav>
    <h1>Welcome to TeamConnect!</h1>

    <p>TeamConnect is a revolutionary platform designed to facilitate seamless communication within sports clubs. As the
        go-to solution for sports team members, TeamConnect allows coaches to create dedicated message lobbies exclusive
        to
        their team. With a focus on privacy and efficiency, coaches can securely add team members to their respective
        lobbies, ensuring that information remains accessible only to the team.</p>

    <p>Powered by a robust PostgreSQL or MariaDB database, TeamConnect provides a reliable and scalable backend to store
        all
        essential data. Our platform operates as a REST API, ensuring that all interactions are conducted via JSON
        responses, streamlining communication for enhanced user experience.</p>

    <h2>Key Features:</h2>
    <ul>
        <li>Customized Lobbies: Coaches can create and manage message lobbies tailored to their teams' needs.</li>
        <li>Secure User Access: Admin privileges enable coaches to add team members to their respective lobbies for
            seamless
            communication.</li>
        <li>Data Integrity: All information is stored in a PostgreSQL or MariaDB database, ensuring data integrity and
            scalability.</li>
        <li>Seamless API: The platform's REST API exclusively returns JSON, simplifying integration and communication.
        </li>
    </ul>

    <p>TeamConnect empowers sports clubs to foster effective collaboration, enabling teams to stay connected, motivated,
        and
        informed. Say goodbye to scattered communication channels and welcome the centralized and secure platform that
        elevates team communication to new heights.</p>

    <p>Join TeamConnect today and experience the future of team messaging!</p>




</body>