<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Dashboard</title>
</head>

<body>
    <nav class="lobbyNav">



        <ul>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/">Home</a></li>

        </ul>
    </nav>
    <div class="container">
        <div class="menu">
            <h1>Menu</h1>
            <button>Write a Post</button>
            <select class="lobbies">
                <option value="">Lobbies</option>
                <option value="">1</option>
                <option value="">2</option>
            </select>

        </div>

        <div class=" userInfor">
            <div class="css-after-gradiant">
                <img src="https://i.pravatar.cc/75" />
            </div>
            <p id="userName"> </p>
            <p id="email">
            </p>
            <p id="userRole">
            </p>
            <p id="createdAt">
            </p>




        </div>






    </div>

    <script>
        /// enter press event
        // const input = document.querySelector('input');
        // input.addEventListener('keyup', function (e) {
        //     if (e.keyCode === 13) {
        //         e.preventDefault();
        //         document.querySelector('form').submit();
        //     }
        // });
        const userName = document.getElementById("userName");
        const email = document.getElementById("email");
        const userRole = document.getElementById("userRole");
        const createdAt = document.getElementById("createdAt");



        // get token from cookie
        const getToken = () => {
            const cookie = document.cookie.split(';');
            const token = cookie[0].split('=')[1];
            // get id from token
            const id = token.split('.')[1];
            const idValue = JSON.parse(atob(id)).id;
            return idValue;
        }
        console.log(getToken());







        (async () => {

            const data = {
                // id: 9
                // get id  from cookie
                id: getToken()


            };


            try {
                const response = await fetch("/api/get-user", {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: { "Content-Type": "application/json" }
                });

                const jsonData = await response.json();
                console.log(jsonData[0]);
                userName.textContent = `Name: ${jsonData[0].username}`;
                email.textContent = `Email: ${jsonData[0].email}`;
                userRole.textContent = `Role: ${jsonData[0].role}`;
                createdAt.textContent = `Created At: ${jsonData[0].created_at}`;


            } catch (error) {
                console.error("Error:", error);
            }
        })();






    </script>


</body>

</html>